.App{
    height:100%;
    width:calc(100% - 4px);
    padding:0;
    background-color: #363636;
    display:grid;
    grid-template-columns: 14rem auto;
    gap:0.25rem;
    /* border-bottom-color: black; */
}

body{
    margin:0;
    height:100%;
    font-family: sans-serif;
}